HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/logs/api.log.2022-06-05.0.gz
/logs/api.log.2022-06-23.0.gz
/logs/api.log.2022-06-25.0.gz
/logs/api.log.2022-06-26.0.gz
/logs/api.log.2022-06-27.0.gz
/logs/api.log.2022-06-29.0.gz
*.xml
*.xml
/user service/logs/api.log
