* {
    -fx-primary-color: #007acc;
    -fx-secondary-color: #4B6EAF;
    -fx-grey-color: #ffffff;

    -fx-focus-color: -fx-secondary-color;
}

.text-field {
    -fx-accent: -fx-primary-color;
    -fx-background-color: -fx-grey-color,  #232323;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-text-fill: #ffffff;
}
.text-field:focused {
    -fx-background-color: -fx-primary-color,  #232323;
}